{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Task: Compile and Run",
            "type": "shell",
            "command": "javac -d bin -sourcepath src ${file} && java -cp bin $(echo '${relativeFileDirname}/${fileBasenameNoExtension}' | sed 's|src/||; s|/|.|g')",
            "problemMatcher": [],
            "presentation": {
                "reveal": "always",
                "panel": "new",
                "focus": true
            },
            "group": {
                "kind": "build",
                "isDefault": true
            }
        }
    ]
}
